[Unit]
Description=Refresh RobloxServer UPnP mappings every 30 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=30min

[Install]
WantedBy=timers.target
